body {
	margin: 0;
	padding: 0;
	background-color: #b3e5fc;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 100%;
	margin: 0;
	color: #fff;
	font-weight: bold;
	background-color: #9c27b0;
}

#title {
	cursor: pointer;
}

#data {
	display: flex;
}

.list {
	display: flex;
	flex-wrap: wrap;
	padding: 2% 5%;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2% 5%;
	margin: 2%;
	border: 1px solid black;
	border-radius: 15px;
	width: 15%;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
